<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DocumentManagementServiceClientLogin" value="testuser" />
    <add key="DocumentManagementServiceClientPassword" value="testuser" />
    <add key="LoanDealDataServiceClientLogin" value="testuser" />
    <add key="LoanDealDataServiceClientPassword" value="testuser" />
    <add key="ContragentDataServiceClientLogin" value="testuser" />
    <add key="ContragentDataServiceClientPassword" value="testuser" />

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DocumentManagement2PortSoapBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DocumentManagement2PortSoapBinding1" />
        <binding name="ContragentSoap11Binding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ContragentSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LoanDealSoap11Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://keflntapu03.alfa.bank.int:9445/services/DocumentManagement2/" binding="basicHttpBinding" bindingConfiguration="DocumentManagement2PortSoapBinding" contract="DocumentManagement2SoapService.DocumentManagement2Port" name="DocumentManagement2Port" />
      <endpoint address="https://kwsesbapu03.alfa.bank.int:8243/services/Contragent.ContragentHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="ContragentSoap11Binding" contract="ContragentSoapService.ContragentPortType" name="ContragentHttpsSoap11Endpoint" />
      <endpoint address="https://kwsesbapu03.alfa.bank.int:8243/services/LoanDealPT.LoanDealPTHttpsSoap11Endpoint" binding="customBinding" bindingConfiguration="LoanDealSoap11Binding" contract="LoanDealSoapService.LoanDealPortType" name="LoanDealHttpsSoap11Endpoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <DataAccessLayer.Properties.Settings>
      <setting name="DataAccessLayer_LoanDealSoapWebService_LoanDeal" serializeAs="String">
        <value>https://kwsesbapu03.alfa.bank.int:8243/services/LoanDealPT.LoanDealPTHttpsSoap11Endpoint</value>
      </setting>
      <setting name="DataAccessLayer_ContragentSoapEbService_Contragent" serializeAs="String">
        <value>https://kwsesbapu03.alfa.bank.int:8243/services/Contragent.ContragentHttpsSoap11Endpoint</value>
      </setting>
    </DataAccessLayer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
