
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*<div class="col-md-6">
        <div class="dataBlock">
            <select id="docTypeList" class="btn btn-default col-sm-12" name="documentType">
                <option class="btn-select-value">Select an Item</option>
            </select>
        </div>
        <div id="UploadSection" class="dataSection">
        
            <figure></figure>
            <p class="p-load">Загрузка документа</p>
            <p class="p-load"><small>Перетащите ваши файлы в эту область</small></p>
            <input type="file" multiple="multiple" />
        </div>
   
        <div class="progress">
            <div class="progress-bar"></div>
            <div class="progress-value">0 %</div>
        </div>
        <div class="error"></div>
        <div class="images"></div>
    </div>
    <div class="col-md-6">

     </div>*@
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/uploadform")
@Styles.Render("~/Content/uploadform")